<div class="container-fluid">
  <app-page-title title="Members" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="card">
      <div class="card-body d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-4">Add New Member</h4>

              <form (ngSubmit)="save()">
                <div class="row">

                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="location-input">First Name</label>
                      <input type="text" [(ngModel)] = "member.name" name="location" class="form-control" id="location-input">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="family-name-inputZip">Last Name</label>
                      <input type="text"  [(ngModel)] = "member.familyName" name="amount" class="form-control" id="family-name-inputZip">
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="Date-input">Accession Date</label>
                      <input type="date"  [(ngModel)] = "member.accessionDate"  name="date" class="form-control" id="Date-input" />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="nationality-inputCity">Nationality</label>
                      <input type="text"  [(ngModel)] = "member.nationality" name="startTime" class="form-control" id="nationality-inputCity">
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="identityDocumentTypes">Identity Document Types</label>
                      <select  [(ngModel)] = "member.identityDocumentType"  name="date" class="form-control" id="identityDocumentTypes" >
                        <option [ngValue]="" disabled selected>Select Document Type</option>
                        <option *ngFor="let identityType of identityDocumentTypes" [ngValue]="identityType">
                          {{identityType}}
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="identityNumber">Identity Number</label>
                      <input type="text"  [(ngModel)] = "member.identityNumber" name="startTime" class="form-control" id="identityNumber">
                    </div>
                  </div>

                </div>



                <div>
                  <button type="submit" class="btn btn-primary w-md">
                    <i class="fa fa-spinner fa-spin ml-2" *ngIf="isLoading" aria-hidden="true"></i>
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
