<div class="container-fluid">
  <app-page-title title="Competitions" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
      <div class="card">
        <div class="card-body">
          <div class="">
          <div class="d-flex justify-content-between align-items-center my-2">
            <h2 class="card-title">Competition(<span class="text-info"> {{ competitions?.length }} </span>)</h2>
          </div>
            <button class="btn btn-primary btn-rounded" routerLink="new">
              <i class="mdi mdi-plus"></i>
              Add Competition
            </button>
          </div>

          <div class="row mb-md-2 my-2">

            <div class="d-flex justify-content-between align-items-center">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Show
                  <select aria-controls="tickets-table" name="pageSize"
                          [(ngModel)]="pagination.pageSize" class="form-control form-control-sm mx-2">
                    <option [ngValue]="10" selected>10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> entries</label></div>
              </div>

              <div class="">
                <form class=" d-flex" (ngSubmit)="searchCompetition()">
                  <div class="position-relative">
                    <input type="text" name="search" class="form-control" [(ngModel)]="query" placeholder="{{'HEADER.SEARCH' | translate}}">
                    </div>
                  <div>
                    <button type="submit" class="form-control">
                      <i class="fa fa-spin " [class]="isLoading ? 'fa-spinner' : ''"></i>
                      {{ isLoading ? '' : 'search'}}
                    </button>
                  </div>
                </form>
              </div>
            </div>

          <div class="table-responsive">
              <table class="table mb-0">
                <thead class="thead-dark">
                <tr>
                  <th>Code</th>
                  <th>Date</th>
                  <th>Start time</th>
                  <th>end time</th>
                  <th>location</th>
                  <th>amount</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let competition of competitions">
                    <th scope="row">{{ competition.code }}</th>
                    <td>{{ competition.date | date: "dd-MM-yyyy" }}</td>
                    <td>{{ competition.startTime }}</td>
                    <td>{{ competition.endTime }}</td>
                    <td>{{ competition.location }}</td>
                    <td>{{ competition.amount | currency: " MAD " }}</td>
                    <td class="d-flex gap-2">
                      <button type="button" [routerLink]="['/competitions', competition.code, 'detail']" class="btn btn-info d-flex">
                        <i class="mdi mdi-eye font-size-8"></i> View
                      </button>

                      <button type="button" routerLink="/competitions" class="btn btn-danger d-flex">
                        <i class="mdi mdi-trash-can font-size-8"></i> Delete
                      </button>

                      <button type="button" routerLink="/competitions" class="btn btn-success d-flex">
                        <i class="mdi mdi-pencil font-size-8"></i> Edit
                      </button>

                    </td>
                  </tr>
                </tbody>
              </table>
            <div class="row justify-content-md-between align-items-md-center mt-2">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                  {{1}} to
                  {{ pagination.totalElements}} of {{pagination.totalElements}}
                  entries
                </div>
              </div>
              <!-- Pagination -->
              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-end pagination-rounded">
                  <ngb-pagination [collectionSize]="pagination.totalPages" [(page)]="pagination.pageNumber" [pageSize]="pagination.pageSize">
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
